* {
    margin: 0px;
    background-color: black;
    background-image: url(Imagens/fundo-menu-superior.svg);
    color: white;
    font-family: 'Inter';
}

#logo {
    margin-left: 50px;
    margin-top: 50px;
}

#titulo-menu-superior {
    margin-left: 150px;
    margin-top: 75px;
}

#texto-menu-superior {
    margin-left: 150px;
    margin-top: 35px;
}