* {
    margin: 0%;
    font-family: 'Poppins';
}

.container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#header {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-decoration-line: underline;

    color: #070f18;
    padding: 10% 25% 10% 25%;
}

#menu {
    text-align: right;
    margin-right: 25%;
}

#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#menu li {
    display: inline-block;
    margin-left: 10%;
    margin-top: 15%;
}

a {
    color: black;
    text-decoration: none;
}

#buttonCta {
    background: #1F7CFF;
    border-radius: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 25px 10px 25px;
}

#headerCta {
    margin-top: 10%;
    padding-left: 23%;
    padding-top: 4%;
}

#headerCta p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #575455;
    padding-top: 5%;
    padding-bottom: 6%;
}

#headerCta h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 82px;
    color: #000000;
}

#headerImg {
    margin-top: 5%;
    padding-right: 24%;
}

#headerImg img {
    width: 100%;
}

#headerClientText {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #070f18;
}

.headerLogo {
    text-align: center;
}

#clientes {
    margin: 5% 3% 5% 3%;
}