* {
    margin: 0%;
    font-family: 'Poppins';
}

.container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

#header {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-decoration-line: underline;

    color: #070f18;
    padding: 10% 25% 10% 25%;
}

#menu {
    text-align: right;
    margin-right: 20%;
}

#menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#menu li {
    display: inline-block;
    margin-left: 10%;
    margin-top: 15%;
}

a {
    color: black;
}